
.container-size-check{
    padding: 0 100px 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px ;
}

h1.title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.container-size-check > img{
    width: 100%;
    /* height: auto; */
    min-height: 580px;
    border: 1px solid rgb(141, 141, 141);
    box-shadow: rgba(126, 124, 124, 0.562);
}

.container-size-check > img:hover{
    cursor: pointer;
    box-shadow: 0 0 20px 1px rgba(126, 124, 124, 0.562);
}

.model{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.model .img-container{
    position: relative;
}

.model img{
    width: 500px;
}

i.fa-xmark{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #125987;
}
i.fa-xmark:hover{
    cursor: pointer;
}

.model-tshirt.open{
    display: flex;
}

.model-hoodie.openHoodie{
    display: flex;
}

.model-sweater.openSweater{
    display: flex;
}
.model-tat.openTat{
    display: flex;
}